.jumbotron{
	min-height: 500px;
}

#positioner{
	position: absolute;
}


#attendee-list > li.paid{
	color: green;
}

#attendee-list > li.unpaid{
	color: red;
}

#attendee-list > li.deposit{
	color: #cccc00;
}

#overlay-wrapper{
    position: fixed;
    top: 0;
    left:0;
    bottom:0;
    right: 0;
    background-color: rgba(0, 0, 0, .75);
    display:none;
}

#overlay-content-box{
    width: 80%;
    height:50%;
    position: fixed;
    left: 10%;
    top: 25%;
    overflow-y: scroll;
    color:#ffffff;
}