<!DOCTYPE html>
<html>
<head>
<title>#RDFest 2015</title>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="circle.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="/static/circle.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<script>
  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      testAPI();
      console.log("connected...");
      } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  // This function is called when someone finishes with the Login
  // Button.  See the onlogin handler attached to it in the sample
  // code below.
  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '337147199811902',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2',
     // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };

  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function testAPI() {
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
      $("#fbButton").hide();
    });
    getEvents();
  }

function getEvents()
{
  console.log("running getEvents()");
  FB.api(
    "/658820594245423/attending",
    function (response) {
      if (response && !response.error) {
        console.log("got attendees=" + JSON.stringify(response.data));
        var attendees = response.data;
        for(i=0; i < attendees.length; i++ ){
          var attendee = attendees[i];
          console.log(attendee);
        }
      }
      else{
        console.log(response.error);
      }
    }
  );

}

</script>

<script type="text/javascript">
  $(document).ready(function(){
    var totalDue=400,
        amtDueText = $("#amtDue").text();

    $.getJSON( "/static/payment.json",function(data){
        var totalAtendees=data.length,
            totalPaid = 0,
            paymentList = $("#attendee-list"),
            eachOwed = (Math.floor(totalDue / totalAtendees));

        for (var i = 0; i < totalAtendees; i++) {
          var attendee = data[i],
              pctPaid = 0;
          if(attendee.status == "paid"){
            totalPaid++;
            paymentList.append("<li class='paid'><h3>"+data[i].name+" - $0</h3></li>");
          }else{
            paymentList.append("<li class='unpaid'><h3>"+data[i].name+" - $"+eachOwed+"</h3></li>");
          }
        };
        console.log("total paid=" + totalPaid + " out of " + totalAtendees);
        pctPaid = Math.ceil(((totalPaid / totalAtendees) * 100));
        console.log("total paid=" + totalPaid + " out of " + totalAtendees + ". " + pctPaid + "%");

        $("#graph-img").addClass("p"+pctPaid);
        $("#graph-pct").text(pctPaid + "%");
        $("#amtDue").text(amtDueText + Math.floor((totalDue - (totalDue * (pctPaid / 100)))));
    });

  });
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">#RDFest 2015</a>
        </div>
      </div>
</nav>

<div class="jumbotron">
      <div class="container">
        <fb:login-button scope="public_profile,email,user_events" onlogin="checkLoginState();" id="fbButton"></fb:login-button>
        <div id="attendees" class="col-md-6">
          <h1>Attendee list & payment status</h1>
          <ol id="attendee-list"></ol>
        </div>

        <div id="reserved" class="col-md-6">
          <div id="positioner">
            <h1>total : $400</h1>
            <h1 id="amtDue">amount left: $</h1>
            <div class="c100 big green" id="graph-img">
              <span id="graph-pct"></span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
