<!DOCTYPE html>
<html>
<head>
<title>#RDFest 2015</title>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="circle.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="/static/circle.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>

<script type="text/javascript">
  $(document).ready(function(){
    var totalDue=400,
        amtDueText = $("#amtDue").text();

    $.getJSON( "/static/payment.json",function(data){
        var totalAtendees= data.length,
            totalPaid = 0,
            paymentList = $("#attendee-list"),
            eachOwed = (Math.ceil(totalDue / totalAtendees));

        for (var i = 0; i < totalAtendees; i++) {
          var attendee = data[i],
              pctPaid = 0;
          if(attendee.status == "paid"){
            totalPaid++;
            paymentList.append("<li class='paid'><h3>"+data[i].name+"</h3></li>");
          }else if(attendee.status == "deposit"){
            paymentList.append("<li class='deposit'><h3>"+data[i].name+"</h3></li>");
          }else{
            paymentList.append("<li class='unpaid'><h3>"+data[i].name+"</h3></li>");
          }
          $("#status-updater > #people").append("<option value='"+attendee.name+"'>"+attendee.name+"</option>");
        };
        pctPaid = Math.ceil(((totalPaid / totalAtendees) * 100));

        $("#graph-img").addClass("p"+pctPaid);
        $("#graph-pct").text(pctPaid + "%");
        $("#amtDue").text(amtDueText + Math.floor((totalDue - (totalDue * (pctPaid / 100)))));
    });

  });
</script>

<!--
  Below we include the Login Button social plugin. This button uses
  the JavaScript SDK to present a graphical Login button that triggers
  the FB.login() function when clicked.
-->
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">#RDFest 2015</a>
        </div>
      </div>
</nav>

<div class="jumbotron">
      <div class="container">
        <div id="attendees" class="col-md-6">
          <h1>Attendee list & payment status</h1>
          <ol id="attendee-list"></ol>
            <form action="/update-user" method="get">
            <div id="status-updater">
                <input type="text" id="add-person" name="addPerson" placeholder="add a new person" />
                <select id="people" name="person"></select>
                <select id="statuses" name="status">
                    <option value="deposit">Deposit only</option>
                    <option value="paid">Paid</option>
                    <option value="unpaid">Unpaid</option>
                </select>
            </div>
            <input type="submit"></input>
            </form>
        </div>

        <div id="reserved" class="col-md-6">
          <div id="positioner">
            <h1>total : $400</h1>
            <h1 id="amtDue">amount left: $</h1>
            <div class="c100 big green" id="graph-img">
              <span id="graph-pct"></span>
                <div class="slice">
                  <div class="bar"></div>
                  <div class="fill"></div>
                </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</body>
</html>
